section { 
    padding-top: 100px;
}

.map { 
    display: block;
    width: 90%;
    margin: 50px auto;
}

.section-header {
    font-size: 2rem;
    font-weight: 900;
    color: #AB966F;
    margin-left: 5%;
    padding: 20px 0px 0px;
}

.line {
    border-bottom: 2px solid #AB966F;
    width: 90%;
    margin: 0 auto 30px;
}

@media (min-width : 768px) {
    section { 
        padding-top: 10px;
    }
}